<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="SophiaDbContext" connectionString="data source=10.251.39.5,1500;initial catalog=sophia;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Barranquilla" connectionString="data source=10.251.39.5,1500;initial catalog=sophiabar;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Bucaramanga" connectionString="data source=10.251.39.5,1500;initial catalog=sophiabuc;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Cali" connectionString="data source=10.251.39.5,1500;initial catalog=sophiacal;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Medellin" connectionString="data source=10.251.39.5,1500;initial catalog=sophiamed;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Clinitas" connectionString="data source=10.251.39.5,1500;initial catalog=sophiaclinitas;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Iberoamerica" connectionString="data source=10.251.39.5,1500;initial catalog=sophiabe;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
		<add name="SophiaDbContext_Cecimin" connectionString="data source=10.251.39.5,1500;initial catalog=cecimin;Integrated Security=false;MultipleActiveResultSets=True;Application name=SophiaWindowsService; user id=CO11CF20SPHDESA; password=fW5A6g1D1gjEVWiahfLx; Connection timeout=300" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>